<div class="container">
	<% @dos_donts.each do|sarah|%>
		<div class="row">
			<div class="col-md-3 well">
				<h2><%= sarah.title %></h2>
				<p><%= sarah.content %></p>
			</div>
		</div>
	<%end%>
	welcome to mother care.
</div>